section.s-wide.s-dark.s-adv
  .adv-wrap
    .advantage
      h3 #[span 6] лет на рынке
      p 6 лет успешной работы на рынке #[br]промышленной вентиляции
    .advantage
      h3 #[span 150] объектов
      p более 150 выполненных работ #[br]по объектам
    .advantage
      h3 #[span 120] партнеров
      p более 120 партнеров и #[br]поставщиков
    .advantage
      h3 #[span 250000] кв.м
      p Установленных #[br]воздуховодов
