section.s-wide.s-brands
  h2 Партнеры компании
  .carousel-brands
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/aereco.svg", alt="Aereco")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/arktos.svg", alt="Arktos")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/general.svg", alt="General")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/korf.svg", alt="Korf")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/lg.svg", alt="Lg")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/mitsubishi.svg", alt="Mtsubishi")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/venterra.svg", alt="Venterra")
