section.s-wide.s-brands
  h2 Партнеры компании
  .carousel-brands
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
    .carousel-brand
      a(href="#!")
        img(src="assets/img/partners/daikin.svg", alt="Daikin")
