section.s-wide.s-direct
  h2 Основные направления услуг
  .directions-wrap
    .item-vertical
      img.img-svg(src="assets/img/services/1.svg", alt="Монтаж")
      h3 Монтаж
      p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
      a.button.button-small.button-grey(href="#!") Заказать #[span монтаж]
  
    .item-vertical
      img.img-svg(src="assets/img/services/2.svg", alt="Проектирование")
      h3 Проектирование
      p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
      a.button.button-small.button-grey(href="#!") Заказать #[span проектирование]
  
    .item-vertical
      img.img-svg(src="assets/img/services/3.svg", alt="Оборудование")
      h3 Оборудование
      p Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.
      a.button.button-small.button-grey(href="#!") Заказать #[span оборудование]
  
