section.s-wide.s-gray.s-profiles
  .profiles-wrap
    .profiles-gallery
      a(href="#!").gallery-tizer-wrap(style="background-image: url(assets/img/gallery_photo.jpg);")
        .tizer-triangle
          i.fa.fa-picture-o
        .table
          .tr
            .td
              span
                i.fa.fa-play-circle
                | #[br]
                |Галерея 
    .profiles-features
      h2 Кондиционирование и вентиляция это наш профиль
      p Обращаясь в нашу компанию,вы гарантированно получаете высокое качество проектирования и монтажа вентиляционных систем. ОВК СТРОЙ - это команда профессионалов с многолетним опытом работы на рынке
      ul.home-list
        li
          i.fa.fa-plus
          | Работаем без предоплаты
        li
          i.fa.fa-plus
          | Бесплатный выезд инженера
      a.button(href="#!") Сделать заказ
      a.button.button-accent(href="#!") #[span Наши] сертификаты
      
