section.s-wide.s-gray.s-profiles
  .profiles-wrap
    .profiles-gallery
      .home-gallery-wrap.mfp-gallery
        a.gallery-tizer-wrap(href="assets/img/photos/0.jpg", style="background-image: url(assets/img/gallery_photo.jpg);")
          .tizer-triangle
            i.fa.fa-picture-o
          .table
            .tr
              .td
                span
                  i.fa.fa-play-circle
                  | #[br]
                  |Галерея 
        a(href="assets/img/photos/1.jpg")
        a(href="assets/img/photos/2.jpg")
        a(href="assets/img/photos/3.jpg")
    .profiles-features
      h2 Кондиционирование и вентиляция это наш профиль
      p Обращаясь в нашу компанию,вы гарантированно получаете высокое качество проектирования и монтажа вентиляционных систем. ОВК СТРОЙ - это команда профессионалов с многолетним опытом работы на рынке
      ul.home-list
        li
          i.fa.fa-plus
          | Работаем без предоплаты
        li
          i.fa.fa-plus
          | Бесплатный выезд инженера
      a.button.button1(href="#!") Сделать заказ
      .certificate-wrap.mfp-gallery
        a.button.button2.button-accent(href="assets/img/certificate/certificate.jpg") #[span Наши] сертификаты
        a(href="assets/img/certificate/certificate_2.jpg") 
      
