section.s-wide.s-dark.s-works
  h2 Выполненные работы
  span.portfolio
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/1.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/1.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москва, м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/2.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/2.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/3.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/3.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/4.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/4.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/5.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/5.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования, дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/6.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/6.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/7.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/7.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
    a.portfolio-item(href="#")
      img.responsive-img.portfolio-img(src="assets/img/works/8.jpg", alt="")
      span.portfolio-item-content
        i.fa.fa-search-plus
        h3 Историческое здание - особняк представительского класса
      span.hidden
        span.portfolio-popup
          img.responsive-img(src="assets/img/works/8.jpg", alt="Alt")
          h2 Историческое здание - особняк представительского класса
          span.portfolio-popup-text
            span.left
              span.td.wsnw
                i.fa.fa-map-marker
                strong Адрес:  
              span.td Москваб м. Тверская. переулок Большой Гнездиковский, дом 3.    
            span.right
              span.td.wsnw
                i.fa.fa-cog
                strong Работы:  
              span.td Проектирование и монтаж систем вентиляции, кондиционирования,дымоудаления, отопления. 
