
<div id="advantages">
  <h2>Наши преимущества</h2>
  <div class="table">
    <div class="row">
      <div class="cell"><img src="assets/img/a_1.png" alt=""/>
        <p>Срок разработки не более 14 дней</p>
      </div>
      <div class="cell"><img src="assets/img/a_2.png" alt=""/>
        <p>Высокое качество работ (портфолио ниже)</p>
      </div>
      <div class="cell"><img src="assets/img/a_3.png" alt=""/>
        <p>Делаем всё под ключ</p>
      </div>
    </div>
    <div class="row">
      <div class="cell"><img src="assets/img/a_4.png" alt=""/>
        <p>Бесплатное создание рекламной кампании в Яндекс.Директ (рекламный бюджет уже входит в стоимость создания лендинга)</p>
      </div>
      <div class="cell"><img src="assets/img/a_5.png" alt=""/>
        <p>Проводим SPLIT-тестирование для достижения максимальной эффективности лендинга</p>
      </div>
      <div class="cell"><img src="assets/img/a_6.png" alt=""/>
        <p>Без предоплаты!</p>
      </div>
    </div>
  </div>
  <div class="button">Получить консультацию</div>
</div>