
<section class="s-wide s-brands">
  <h2>Партнеры компании</h2>
  <div class="carousel-brands">
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
  </div>
</section>