
<section class="s-wide s-brands">
  <h2>Партнеры компании</h2>
  <div class="carousel-brands">
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/aereco.svg" alt="Aereco"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/daikin.svg" alt="Daikin"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/arktos.svg" alt="Arktos"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/general.svg" alt="General"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/korf.svg" alt="Korf"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/lg.svg" alt="Lg"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/mitsubishi.svg" alt="Mtsubishi"/></a></div>
    <div class="carousel-brand"><a href="#!"><img src="assets/img/partners/venterra.svg" alt="Venterra"/></a></div>
  </div>
</section>