
<section class="s-wide s-direct">
  <h2>Основные направления услуг</h2>
  <div class="directions-wrap">
    <div class="item-vertical"><img src="assets/img/services/1.svg" alt="Монтаж" class="img-svg"/>
      <h3>Монтаж</h3>
      <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#!" class="button button-small button-grey">Заказать <span>монтаж</span></a>
    </div>
    <div class="item-vertical"><img src="assets/img/services/2.svg" alt="Проектирование" class="img-svg"/>
      <h3>Проектирование</h3>
      <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#!" class="button button-small button-grey">Заказать <span>проектирование</span></a>
    </div>
    <div class="item-vertical"><img src="assets/img/services/3.svg" alt="Оборудование" class="img-svg"/>
      <h3>Оборудование</h3>
      <p>Монтаж вентиляции является основным и главным направлением компании ОВК Строй. Наша компания выполняет монтаж вентиляции уже более 6 лет.</p><a href="#!" class="button button-small button-grey">Заказать <span>оборудование</span></a>
    </div>
  </div>
</section>