
<section class="s-wide s-equipment">
  <h2>Поставляемое оборудование</h2>
  <div class="carousel-eq">
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/korf.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Korf</h3>
          <p>Российский производитель качественного оборудования с 13-ти летним стажем.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/daikin.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Daikin</h3>
          <p>Компания Daikin является лидером на рынке экологично безопасных систем отопления, вентиляции и кондиционирования.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/mitsubishi.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Mitsubishi</h3>
          <p>«Мицубиси Электрик» — глобальный лидер в области электроники и электронного оборудования.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/venterra.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Venterra</h3>
          <p>Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/venterra.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Venterra</h3>
          <p>Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-wrap">
        <div class="car-img-wrap"><img src="assets/img/bg-car.png" alt="bg-carousel" class="responsive-img"/><img src="assets/img/partners/venterra.svg" alt="Korf" class="img-svg responsive-img"/></div>
        <div class="carousel-text">
          <h3>Venterra</h3>
          <p>Оборудование VENTERRA производится на заводах лучших мировых производителей с учетом сложных климатических условий нашей страны.</p>
        </div><a href="#" class="button button-small button-grey">Перейти в каталог</a>
      </div>
    </div>
  </div>
</section>