
<header class="main-head">
  <div class="mnu-line">
    <div class="logo-wrap"><a href="#" class="logo"><img src="assets/img/logo.svg" alt="OVK STROY"/></a></div>
    <div class="phone">
      <div class="phone-wrap"><i class="fa fa-mobile"> </i>+7(495) 99-99-999</div><a href="#callback" data-form="Заказать обратный звонок верхняя" data-text="Заказать звонок" class="callback">Заказать обратный звонок</a><a class="toggle-mnu"><span></span></a>
    </div>
    <nav class="main-mnu">
      <ul>
        <li class="active"><a href="#!">Главная</a></li>
        <li><a href="#!">Монтаж</a></li>
        <li><a href="#!">Проектирование</a></li>
        <li><a href="#!">Оборудование</a></li>
        <li><a href="#!">Контакты</a></li>
      </ul>
    </nav>
    <nav class="main-mnu mnu-mobile">
      <ul>
        <li class="active"><a href="#!">Главная</a></li>
        <li><a href="#!">Монтаж</a></li>
        <li><a href="#!">Проектирование</a></li>
        <li><a href="#!">Оборудование</a></li>
        <li><a href="#!">Контакты</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-content">
    <div class="content-row">
      <div class="left">
        <h1>Монтаж систем вентиляции и кондиционирования</h1>
        <ul>
          <li><i class="fa fa-check"></i>Работаем без предоплаты</li>
          <li><i class="fa fa-check"></i>Скидки до 40%</li>
          <li><i class="fa fa-check"></i>Бесплатный выезд инженера</li>
        </ul><a href="#callback" data-form="Отрправить заявку.Шапка" data-text="Отрправить заявку" class="button">Отправить заявку</a>
      </div>
      <div class="right">
        <div class="top-img-wrap"><img src="assets/img/header_img.png" alt="ОВК Строй" class="responsive-img"/></div>
      </div>
    </div>
    <div class="mw-wrapper">
      <div class="mouse-icon">
        <div class="wheel"></div>
      </div>
    </div>
  </div>
</header>