
<header class="main-head">
  <div class="container">
    <div class="row">
      <div class="mnu-line">
        <div class="col-md-2"><a href="#" class="logo"><img src="assets/img/logo.svg" alt="OVK STROY"/></a></div>
        <div class="col-md-3 col-md-push-7">
          <div class="phone">
            <div class="phone-wrap"><i class="fa fa-mobile"> </i>+7(495) 99-99-999</div><a href="#!" class="callback">Заказать обратный звонок</a>
          </div>
        </div>
        <div class="col-md-7 col-md-pull-3">
          <nav class="main-mnu">
            <ul>
              <li class="active"><a href="#!">Главная</a></li>
              <li><a href="#!">Монтаж</a></li>
              <li><a href="#!">Проектирование</a></li>
              <li><a href="#!">Оборудование</a></li>
              <li><a href="#!">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>