
<div id="steps">
  <h2>Порядок работы</h2>
  <div id="steps_table">
    <div class="step">
      <p class="number">01</p>
      <p>Вы оставляете заявку</p>
    </div>
    <div class="step">
      <p class="number">03</p>
      <p>Мы готовим прототип, в который Вы можете вносить коррективы</p>
    </div>
    <div class="step">
      <p class="number">05</p>
      <p>Запускаем рекламу и получаем Вам первых клиентов</p>
    </div>
    <div class="clear"></div>
    <div class="step">
      <p class="number">02</p>
      <p>Мы созваниваемся с Вами и консультируем Вас, опираясь на специфику Вашего бизнеса</p>
    </div>
    <div class="step">
      <p class="number">04</p>
      <p>Делаем полностью лендинг,в который Вы также можете вносить коррективы</p>
    </div>
    <div class="step">
      <p class="number">06</p>
      <p>Вы оплачиваете стоимость лендинга,а мы присылаем все исходники, даём доступ к уже работающей рекламной кампании и к первым клиентам</p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="button">Получить консультацию</div>
</div>