
<div id="works">
  <h2>Наши последние работы и цены на них</h2>
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_1.jpg"><img src="assets/img/works/site_1_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 1500 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 190 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 12</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_2.jpg"><img src="assets/img/works/site_2_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 10000 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 280 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 28</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_3.jpg"><img src="assets/img/works/site_3_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 1200 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 160 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 48</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_4.jpg"><img src="assets/img/works/site_4_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 15000 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 240 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 15.</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_5.jpg"><img src="assets/img/works/site_5_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 17000 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 350 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 17</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="cite"><a href="assets/img/works/site_6.jpg"><img src="assets/img/works/site_6_s.png" alt=""/></a></div>
        <div class="table">
          <div class="row">
            <div class="cell">Цена разработки: 19000 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Цена заявки: 430 р.</div>
            <div class="cell"></div>
          </div>
          <div class="row">
            <div class="cell">Заявок в неделю: 19</div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>